/* COLOR PALLETE */

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
.material-b {
    font-size: 40px;
}

.material-m {
    font-size: 32px;
}

.material-s {
    font-size: 24px;
}

/* HTML */
body,
p,
a {
    font-family: 'Montserrat', sans-serif !important;
    color: #4CAEFE !important;
}

/* NAVBAR */
#nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    background-color: #fefcf6 !important;
}

#search {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#logo {
    position: absolute;
    top: 9px;
    left: 50%;
    height: 32px;
    width: 200px;
    margin-left: -100px;
    background-image: url("/img/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

#profile {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

/* MAP */
#map {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
}

/* LAYERS */
#layers {
    position: fixed;
    top: 60px;
    left: 10px;
    height: auto;
    width: 36px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5); 
}

.layer {
    height: 24px;
    width: 24px;
    padding: 2px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fefcf6 !important;
}

.layer_space {
    height: 8px;
    width: 30px;
}

#menu a:last-child {
    border: none;
}

.layer:hover {
    color: #fefcf6;
    background-color: #4CAEFE !important;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}

/* TOOLS */
#tools {
    position: fixed;
    bottom: 5px;
    left: 50%;
    height: 46px;
    width: 92px;
    margin-left: -46px;
    border-radius: 5px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5); 
}

.tool {
    height: 32px;
    width: 32px;
    padding: 2px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fefcf6 !important;
}

.tool:hover {
    color: #fefcf6;
    background-color: #4CAEFE !important;
}

.active {
    color: #fefcf6;
    background-color: #4CAEFE !important;
}